/* *ESTILOS GENERALES*/
/* VARIABLES DE COLOR PARA EL DISEÑO*/

/* a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--primary);
    text-decoration: none;
} */

/*!CONTENEDOR PRINCIPAL*/
.pp-MainContainer {
    position: relative;
    text-align: center;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
}

.pp-background-image {
    opacity: 0.87;
    width: 100%;
    height: 80%;
}

.pp-MainContainerText {
    position: absolute;
    /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
    top: 35%;
    left: 7%;
    /* Posiciona la parte izquierda del elemento al 50% del ancho de su contenedor padre*/
}

.h1MCT {
    font-size: 4.9rem;
    font-weight: 700;
    color: white;
    text-align: left;
    text-shadow: 3px 3px 5px #2c2e21;
}

.h2MCT {
    font-weight: 850;
    font-size: 6.9rem;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 5px #2c2e21;
}

/*BOTNONES PRINCIPALES*/
.pp-MainContainerButtons {
    position: absolute;
    /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
    top: 53%;
    /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
    left: 7%;
    /* Posiciona la parte izquierda del elemento al 50% del ancho de su contenedor padre*/
}

.pp-MainContainerButtons .button {
    background-color: var(--secondary);
    /* Fondo secondary */
    border-radius: 40px;
    color: var(--fifth);
    display: inline-block;
    /*Hace que los elementos trabajen en línea, es decir, se colocan uno al lado del otro en la misma línea, a menos que el espacio disponible se agote.*/
    font-size: 3.2rem;
    font-weight: 550;
    margin: 1rem;
    padding: 1rem 3rem;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.pp-MainContainerButtons .button:hover {
    background-color: var(--tertiary);
    /* Fondo oscuro en hover */
}

/*!SEGUNDO CONTENEDOR: MENÚ DEL DÍA*/
.PP-SecundaryContainertitle {
    font-size: 4rem;
    text-align: center;
    font-style: italic;
    color: var(--fifth);
}

/*ESTILOS DEL CONTENEDOR DE MENÚS*/
.menusContainer {
    display: flex;
}

/*ESTILOS DEL CARRUSEL*/
#carouselExampleCaptions {
    /*CONTENEDOR GENERAL*/
    width: 70%;
    /* Ajusta el ancho*/
    height: 40px;
    /* Ajusta la altura*/
    margin: 0 auto;
    /* Centra el carrusel horizontalmente */
    padding: 50px;
}

.imageNC {
    width: 31.4rem;
    height: 31.4rem;
    border-radius: 100%;
}

.d-block {
    border-radius: 90px;
    /* Redondea las esquinas de la imagen en 90px*/
}

h5 {
    font-size: 6rem;
}

.menuTime {
    font-size: 2rem;
}

.menuText {
    font-size: 1.5rem;
}

/*ESTILOS DE CONTENEDOR 3*/
.container3 {
    display: flexbox;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.terciaryContainerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnC3 {
    background-color: var(--fourth);
    padding: 2rem 15rem 2rem 15rem;
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h1C3 {
    font-size: 5rem;
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: none;
}

.h2C3 {
    font-size: 3rem;
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: none;
}

.benefits {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 50px;
}

.cardText {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 15rem 0rem 15rem;
}

.cardImg1 {
    width: 30rem;
    height: 30rem;
    border: 3px solid;
    border-radius: 20%;
    border-color: var(--secondary);
}

.cardImg2 {
    width: 30rem;
    height: 30rem;
    border: 3px solid;
    border-radius: 20%;
    border-color: var(--secondary);
}

.card h2 {
    font-size: 3.5rem;
    margin: 10px 0;
}

.terciaryContainerBtn1 {
    display: flex;
    align-items: center;
}

.btn2C3 {
    display: inline;
    background-color: var(--fourth);
    text-decoration: none;
    font-size: 4rem;
    color: white;
    padding: 10px 30px;
    border-radius: 100px;
    align-items: center;
}


/*ESTILO DE TESTIMONIO*/
.testimonio {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
}

.foto1 {
    width: 700px;
}






/* !Estilos para pantallas medianas (màximo 399px)*/
@media (max-width: 399px) {

    /* *MAIN CONTAINER*/
    .pp-MainContainerText {
        position: absolute;
        /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
        top: 20%;
    }

    .h1MCT {
        font-size: 1.4rem;
    }

    .h2MCT {
        font-size: 1.8rem;
    }

    /*BOTNONES PRINCIPALES*/
    .pp-MainContainerButtons {
        position: absolute;
        /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
        top: 58%;
        /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
    }

    .pp-MainContainerButtons .button {
        font-size: 0.7rem;
        font-weight: 550;
        margin: 0.1rem;
        padding: 0.6rem 1.25rem;
    }
}

/* !Estilos para pantallas medianas (400px a 650px)*/
@media (min-width: 400px) {

    /* *MAIN CONTAINER*/
    .pp-MainContainerText {
        position: absolute;
        /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
        top: 35%;
    }

    .h1MCT {
        font-size: 2.4rem;
    }

    .h2MCT {
        font-size: 3.1rem;
    }

    /*BOTNONES PRINCIPALES*/
    .pp-MainContainerButtons {
        position: absolute;
        /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
        top: 65%;
        /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
    }

    .pp-MainContainerButtons .button {
        font-size: 1.3rem;
        font-weight: 550;
        margin: 0.3rem;
        padding: 0.8rem 1.8rem;
    }
}

/* !Estilos para pantallas medianas (650px a 839px)*/
@media (min-width: 650px) {

    /* *MAIN CONTAINER*/
    .h1MCT {
        font-size: 3.1rem;
    }

    .h2MCT {
        font-size: 4rem;
    }

    /*BOTNONES PRINCIPALES*/
    .pp-MainContainerButtons {
        position: absolute;
        /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
        top: 59%;
        /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
    }

    .pp-MainContainerButtons .button {
        font-size: 1.85rem;
        font-weight: 550;
        margin: 0.5rem;
    }

    /* !Estilos para pantallas medianas (840px a 1079px)*/
    @media (min-width: 840px) {

        /* *MAIN CONTAINER*/
        .pp-background-image {
            width: 100%;
            height: 80%;
            overflow: hidden;
            /*Cualquier contenido que sobrepase la altura o el ancho del elemento será cortado y no se mostrará*/
        }

        .pp-MainContainerText {
            position: absolute;
            /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
            top: 35%;
        }

        .h1MCT {
            font-size: 3.1rem;
        }

        .h2MCT {
            font-size: 4.4rem;
        }

        /*BOTNONES PRINCIPALES*/
        .pp-MainContainerButtons .button {
            font-size: 1.7rem;
            font-weight: 550;
        }

        /* !Estilos para pantallas grandes (Min-width: 1080px)*/
        @media (min-width: 1080px) {

            /* *MAIN CONTAINER*/
            .pp-background-image {
                width: 100%;
                height: 80%;
                overflow: hidden;
                /*Cualquier contenido que sobrepase la altura o el ancho del elemento será cortado y no se mostrará*/
            }

            .pp-MainContainerText {
                position: absolute;
                /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
                top: 37%;
            }

            .h1MCT {
                font-size: 4.2rem;
            }

            .h2MCT {
                font-size: 6rem;
            }

            /*BOTNONES PRINCIPALES*/
            .pp-MainContainerButtons {
                position: absolute;
                /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
                top: 59%;
                /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
            }

            .pp-MainContainerButtons .button {
                font-size: 3.1rem;
                font-weight: 550;
            }
        }

        /* *TERMINAN MQ