.cart-container {
    max-width: 1200px;
    margin: 0 auto;
}
.cart-header{
    font-size: 4rem;
}
.cart-column{
    display: flex;
    align-items: center;
}
.cart-row{
    display: flex;
}
.cart-item {
    width: 45%;
}
.cart-price{
    width: 20%;
}
.cart-quantity{
    width: 35%;
}
/* .cart-item-title{

}
.cart-item-image{
    width: 7.5rem;
    height: auto;
    border-radius: 1rem;
}
.cart-quantity-input{
    height: 3.5rem;
    width: 50rem;
    border-radius: 5px;
}
.cart-row:last-child {
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
    border: none;
}*/
.cart-total {
    text-align: end;
    margin-top: 1rem;
    margin-right: 1rem;
}
.cart-total-title {
    font-weight: bold;
    font-size: 3rem;
    margin-right: 2rem;
}
.cart-total-price {
    font-size: 2.5rem;
}
.btn-purchase {
    display: block;
    margin: 4rem auto 8rem auto;
    font-size: 3rem;
}
h1{
    text-align: center;
    margin-bottom: 5rem;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}