/* VARIABLES DE COLOR PARA EL DISEÑO*/
:root {
    --primary: #f6f4f1;
    --secondary: #dcd6c0;
    --tertiary: #4c4c2c;
    --fourth: #2c2e21;
    --fifth: #000000;
}

/*CONFIGURACIÓN DE TIPOGRAFÍA BASE*/
html {
    font-size: 62.5%;
    /* DEFINE 1rem COMO 10px */
}

body {
    font-size: 16px;
    /*TAMAÑO BASE DE LA FUENTE*/
    font-family: "Montserrat", sans-serif;
    background-image: url(/src/Fondo\ Grande.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*ESTILOS DE ENCABEZADOS*/
h1 {
    font-size: 7rem;
    font-weight: 700;
    color: var(--tertiary);
}

h2 {
    font-weight: 600;
    font-size: 6rem;
    color: var(--fourth);
}

h3 {
    font-size: 5rem;
    color: var(--secondary);
}

/*ESTILOS DEL CONTENEDOR PRINCIPAL*/
.PrincipalConainer {
    position: relative;
    text-align: center;
    color: var(--primary);
    /*COLOR DE FONDO PRINCIPAL*/
}

.background-image {
    width: 100%;
    height: auto;
    opacity: 0.87;
    /*Ligera opacidad para la imagen de fondo*/
}

.contentPC {
    position: absolute;
    top: 28%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*  position: absolute;   El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
/*  top: 50%;:   Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
/*  left: 50%;:   Posiciona la parte izquierda del elemento al 50% del ancho de su contenedor padre*/
/*  transform: translate(-50%, -50%);:   Mueve el elemento un 50% hacia la izquierda y un 50% hacia arriba desde su posición actual*/
/*  text-align: center;:  Alinea el texto dentro del elemento hacia el centro*/
/*  text-shadow: 2px 2px 4px      3px 3px: Desplaza la sombra 3 píxeles hacia la derecha y 3 píxeles hacia abajo.
5px: Difumina la sombra en un radio de 4 píxeles.*/

#h1ConPC {
    font-size: 6rem;
    font-weight: 700;
    color: white;
    text-align: left;
    text-shadow: 3px 3px 5px #2c2e21;
}

#h2ConPC {
    font-weight: 600;
    font-size: 8rem;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 5px #2c2e21;
}

/*BOTNONES PRINCIPALES*/
.buttonsPC .button {
    display: inline-block;
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary);
    /* Texto claro */
    background-color: var(--secondary);
    /* Fondo secondary */
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: var(--fifth);
}

.buttonsPC .button:hover {
    background-color: var(--tertiary);
    /* Fondo oscuro en hover */
}

/*ESTILOS DEL SEGUNDO CONTENEDOR: MENÚ DEL DÍA*/
.titleSC {
    text-align: center;
    font-style: italic;
    color: var(--fifth);
}

/*ESTILOS DEL CARRUSEL MENÚ 1*/
#carouselExampleCaptions {  /*CONTENEDOR GENERAL*/
    width: 80%;
    /* Ajusta el ancho*/
    height: 50px;
    /* Ajusta la altura*/
    margin: 0 auto;
    /* Centra el carrusel horizontalmente */
}

.d-block {  /*IMAGENES DEL CONTENDOR*/
    border-radius: 90px;
    /* Redondea las esquinas de la imagen en 90px*/
}

h5 {
    font-size: 6rem;
}

.m1 {
    font-size: 4rem;
}

/*ESTILOS DE CONTENEDOR 3*/
.container3 {
    display:flexbox;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .btnC13 {
    display: inline-block;
    background-color: var(--fourth)
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .card {
    display: inline-block;
    width: 45%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 50px;;
    border-color: var(--tertiary);
  }
  
  .btnC23 {
    display: inline-block;
    background-color: var(--fourth)
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

/*ESTILLOSS DEL PIE DE PÁGINA*/
.footer {
    background-color: var(--tertiary);
    color: var(--secondary);
    font-size: 3rem;
    text-align: center;
    /* padding: 2rem; */
}

.icons {
    padding: 3rem;
}

.icon {
    margin: 1rem;
}