
/* ESTILOS DEL CONTENEDOR DE MENÚS */

.menusContainer {
    display: flex;
    justify-content: center;  /* Centra el contenido */
    align-items: center;  /* Centra verticalmente */
    height: 50vh;  /* Ajusta la altura al 100% de la pantalla */
}


/* ESTILOS DEL CARRUSEL */
#carouselExampleCaptions {
    width: 100%;  /* Ajusta el ancho */
    margin: 0 auto;  /* Centra el carrusel horizontalmente */
}

.d-block {
    border-radius: 90px;  /* Redondea las esquinas de la imagen */
}

h5 {
    font-size: 6rem;  /* Tamaño de fuente grande */
    font-weight: 600;  /* Peso de la fuente */
}

.menuTime {
    font-size: 2rem;  /* Tamaño de la fuente para los tiempos de menú */
}

.menuText {
    font-size: 1.5rem;  /* Tamaño de la fuente para los nombres de los platos */
}


