.wall {

    background-color: var(--secondary);
    margin-top: 6rem;
    padding: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.benefit-main {

    text-align: center;

}

.benefit-card-title {


    background-color: var(--secondary);
    border-radius: 2rem;
    min-width: 100rem;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;

}
    
.description-container {

    
    display: inline-block;
    text-align: center;
    justify-content: center;


}

.container-card{

    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.img-container {

    display: inline-block;
    margin-right: 9rem;
    border-radius: 360%;
    width: 31rem;
    height: 31rem;
    overflow: hidden;


}

.img-benefit {

    width: 31.4rem;
    height: 31.4rem;

}

.title-card {

    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0 ;
    display: block;
    margin: 3rem;
    width: 60rem;

}



.paragraph-card {

    margin: 2rem;
    display: block;
    width: 60rem;
}

.title-card {

    font-size: 4rem;
    font-weight: 900;

}

.title {

    width: 100%;
    font-size: 5rem;

}

@media (max-width: 1200px) {

    .img-container {

        margin-right: 3rem;

    }    

    .paragraph-card {

        width: 37rem;
        min-width: 37rem;
        margin: 0;

    }

    .title-card{

        margin: 2rem 0;
        width: 37rem;
    }

    .container-card {

        width: 73.1rem;

    }

    .description-container {

        width: 39rem;

    }

    .benefit-card-title {

        min-width: 73rem;
        width: 73rem;

    }


}

.title{

    width: 90rem;

}


@media (max-width: 768px) {

    .benefit-main {

        text-align: center;

    }

    .title-card{

        display: inline-block;
        margin: 2rem 0 2rem 0;
        display: inline-block;
        width: 44rem;

    }

    .wall {

        width: 50rem;
        display: inline-flex;
        border-radius: 4rem;

    }

    
    .container-card {

        
        width: 46rem;
        display: block;
        text-align: center;

    }
    
    .img-container {
        
        margin: 0rem;
        width: 25rem;
        height: 25rem;
        display: inline-block;
        margin: 0rem;
    }


    .description-container {

        text-align: center;
        width: 44rem;
        display: inline-block;
        min-width: 28rem;
        
    }

    .paragraph-card{

        text-align: center;
        width: 44rem;
        min-width: 44rem;
        margin: 0rem;
        display: inline-block;


    }

    .benefit-card-title {

        width: 50rem;
        max-width: 50rem;
        min-width: 50rem;


    }

    .title {

        font-size: 4rem;

    }
}

@media (max-width: 599px) {

    .wall {

        width: 40rem;

    }

    .title-card {

        margin: 1rem 0;
        width: 35rem;
        font-size: 3rem;

    }
    
    .description-container{

        width: 35rem;

    }

    .paragraph-card {

        min-width: 25rem;
        width: 35rem;
        display: inline-block;
        margin: 0rem;

    }

    .img-container {
        
        width: 20rem;
        height: 20rem;
        display: inline-block;
        margin: 0rem;
    }

    .benefit-card-title {

        min-width: 40rem;
        width: 40rem;

    }

}

@media (max-width: 479px) {

    .wall {

        width: 35rem;

    }

    .container-card {

        width: 34rem;
        min-width: 30rem;

    }

    .title-card {

        margin: 1rem 0;
        width: 31rem;
        font-size: 3rem;

    }

    .paragraph-card {

        min-width: 25rem;
        width: 31rem;
        display: inline-block;
        margin: 0rem;

    }

    .img-container {
        
        width: 20rem;
        height: 20rem;
        display: inline-block;
        margin: 0rem;
    }

    .description-container {

        width: 31rem;

    }

    .benefit-card-title {

        min-width: 35rem;
        width: 35rem;
    
    }

    .title {

        font-size: 3rem;

    }

}