.btnNC {
    display: inline;
    background-color: var(--fourth);
    padding: 70px 900px 70px 900px;
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}