/* Colores base */
.userpage-main {
    --primary: #333333;
    --secondary: #ffffff;
    --tertiary: #007bff;
    --quaternary: #f4f4f4;
    margin: 0;
    padding: 15rem;
  }
  
  .userpage-header {
    text-align: center;
    margin-bottom: 30px;
  }

  /* Contenedor principal */
  .userpage-main {
    max-width: 900px;
    margin: 10rem auto;
    padding: 10rem;
    background-color: var(--secondary);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .userpage-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .userpage-header h1 {
    font-size: 2.5rem;
    color: var(--primary);
  }
  
  .userpage-header p {
    color: var(--tertiary);
    font-size: 1.2rem;
  }
  
  .userpage-section {
    margin-bottom: 40px;
  }
  
  .userpage-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--primary);
  }
  
  .userpage-input-container label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: var(--primary);
  }
  
  .userpage-input-container input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--quaternary);
    color: var(--primary);
    transition: border-color 0.3s ease;
  }
  
  .userpage-input-container input:focus {
    border-color: var(--tertiary);
    outline: none;
  }
  
  .userpage-orders-list {
    list-style-type: none;
    padding: 0;
  }
  
  .userpage-order-item {
    background-color: var(--secondary);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .userpage-order-item .userpage-order-details {
    color: var(--primary);
  }
  
  .userpage-update-btn {
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .userpage-update-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .userpage-main {
      padding: 20px;
    }
  
    .userpage-header h1 {
      font-size: 2rem;
    }
  
    .userpage-header p {
      font-size: 1rem;
    }
  
    .userpage-section h2 {
      font-size: 1.5rem;
    }
  
    .userpage-input-container input {
      padding: 10px;
      font-size: 1rem;
    }
  
    .userpage-update-btn {
      font-size: 1.1rem;
    }
  }  