/*!CONTENEDOR PRINCIPAL*/

.pp-benefits-container {
    display: flex;
    gap: 20rem;
}

.testimonio-name-user {
    color: var(--fifth);
    font-weight: 700;
    font-size: 6rem;
    font-style: italic;
}

.pp-MainContainer {
    align-items: center;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

.pp-background-image {
    height: 100%;
    opacity: 0.87;
    width: 100%;
}

.pp-MainContainerText {
    left: 7%;
    /* Posiciona la parte izquierda del elemento al 50% del ancho de su contenedor padre*/
    position: absolute;
    /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
    top: 35%;
}

/*PLATILLOS EXQUISITOS*/
.h1MCT {
    color: white;
    font-size: 4.9rem;
    font-weight: 700;
    text-align: left;
    text-shadow: 3px 3px 5px #2c2e21;
}

/*TODOS LOS DÍAS*/
.h2MCT-carrusel,
.h2MCT {
    color: white;
    font-weight: 850;
    font-size: 6.9rem;
    font-style: italic;
    text-shadow: 3px 3px 5px #2c2e21;
}

/*BOTNONES PRINCIPALES*/
.pp-MainContainerButtons {
    left: 7%;
    /* Posiciona la parte izquierda del elemento al 50% del ancho de su contenedor padre*/
    position: absolute;
    /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
    top: 53%;
    /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
}

.pp-MainContainerButtons .button {
    background-color: var(--secondary);
    /* Fondo secondary */
    border-radius: 40px;
    color: var(--fifth);
    display: inline-block;
    /*Hace que los elementos trabajen en línea, es decir, se colocan uno al lado del otro en la misma línea, a menos que el espacio disponible se agote.*/
    font-size: 3rem;
    font-weight: 550;
    margin: 1rem;
    padding: 1rem 3rem;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.pp-MainContainerButtons .button:hover {
    background-color: var(--tertiary);
    /* Fondo oscuro en hover */
}

.pp-menu-card {
    height: 30rem;

}

/*!SEGUNDO CONTENEDOR: MENÚ DEL DÍA*/
/*MENÚS DEL DÍA*/
.pp-SecundaryContainerTitle {
    color: var(--fifth);
    font-size: 6rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.pp-SecundaryContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

/* *ESTILOS DEL CONTENEDOR DE MENÚS*/
.pp-menusContainer {
    display: block;
}

/*MARGEN ENTRE CARRUSELES*/
.pp-carousel-slide {
    margin: 25px;
    /* Margen inferior para mayor separación vertical */
}

.pp-d-block {
    border-radius: 60px;
    /* Redondea las esquinas de la imagen en 90px*/
}

.pp-menuTime {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.pp-menuText {
    font-size: 2rem;
    margin-left: 30px;
    /* Sangría en la lista no ordenada */
    text-align: left;
}

/* !TERCER CONTENEDOR: SUSCRÍBETE Y BENEFICIOS*/
.terciaryContainer {
    display: flexbox;
}

/*BOTÓN VERDE*/
.terciaryContainerButton {
    display: flex;
    justify-content: center;
    margin: -10px auto -75px;
    /* Botón flotante sobre la sección */
    position: relative;
}

.terciaryContainerBtn {
    align-items: center;
    background-color: var(--fourth);
    border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 2.7rem 50rem 2.7rem 50rem;
    text-align: center;
    text-decoration: none;
}

/*SUSCRÍBETE*/
.h1C3 {
    color: white;
    font-size: 6rem;
    font-style: italic;
    font-weight: 850;
    text-align: center;
}

/*Y OBTÉN BENEFICIOS*/
.h2C3 {
    color: white;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

/*CARTAS DE BENEFICIOS*/
.pp-benefits {
    align-items: center;
    background-color: var(--secondary);
    border-radius: 50px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    margin: 50px auto;
    padding: 50px 30px;
    width: 77%;
}

.pp-cardC3 {
    align-items: center;
    border-color: var(--secondary);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    justify-items: center;
    max-width: 50rem;
    text-align: center;
}

.pp-cardTitle {
    font-size: 4rem;
    font-weight: 700;
    padding: 15px 0px 0px 0px;
    text-align: center;
}


.pp-cardImg {
    border: 3px solid;
    border-color: var(--tertiary);
    border-radius: 20%;
    height: 30rem;
    width: 30rem;
}

/* *BOTÓN CONOCER MÁS*/
.terciaryContainerBtn1 {
    display: flex;
    justify-content: center;
}

.btn2C3 {
    align-items: center;
    background-color: var(--fourth);
    border-radius: 100px;
    font-size: 2rem;
    padding: 5px 30px 5px;
}

.btn2C3text {
    color: white;   
    text-decoration: none;
}

/* !CUARTO CONTENEDOR: TESTIMONIOS*/
/* *CONTENEDOR*/
.pp-testimonio {
    background-color: var(--secondary);
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;

}

.testimonials-container {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    max-width: 120rem;
    margin: 0 5%;
}

/* *IMAGEN DE USUSARIO*/
.pp-user {
    width: 25rem;
}

/* *COMENTARIO DEL TESTIMONIO*/
.pp-comentario {
    font-size: 2.5rem;
}

.terciaryContainerBtn {
    padding: 1.7rem 23rem 1.7rem 23rem;
}

/* *QUINTO CONTENEDOR: "NUESTRO COMPROMISO1"*/
/*BOTÓN VERDE*/
.Container5 {
    align-items: center;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    padding: 2.7rem 40rem 2.7rem 40rem;
    text-align: center;
}

.nuestroCompromisSection {
    display: flex;
    gap: 5rem;
}

.imageNC {
    border-radius: 100%;
    height: 31.4rem;
    width: 31.4rem;
}

.commitment-NC {
    display: inline-block;

}

.Container5Button {
    background-color: var(--fourth);
    border-radius: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 1.3rem 5rem 1.3rem 5rem;
    text-decoration: none;
    width: 80rem;
}

/*SUSCRÍBETE*/
.h1C3 {
    font-size: 3.1rem;
    font-weight: 850;
}

.h2MCT-carrusel {
    font-size: 3rem;
    font-style: normal;
}

.pp-title-carrusel {
    font-size: 5rem;
    font-style: italic;
}

.pp-carrusel-card {
    display: flex;
    gap: 2rem;
}

.commitment-NC {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

/* !Estilos para pantallas muy pequeñas (769px a 1200px)*/
@media (max-width: 1200px) {
    .pp-MainContainerButtons {
        position: absolute;
        top: 55%;
    }
    
    .pp-MainContainerButtons .button {
        font-size: 2.2rem;
        margin: 1rem;
        padding: 1rem 2rem;
        text-decoration: none;
    }
   /* .pp-MainContainerText {
        /* top: 33%; */
    /*}*/
    
    .h1MCT {
        font-size: 3.5rem;
    }
    .h2MCT {
        font-size: 5.5rem;
    }
    .pp-comentario {
        font-size: 1.8rem;
    }
    .pp-user {
        width: 20rem;
    }
    .testimonio-name-user {
        font-size: 5.3rem;
    }
}

@media (max-width: 1060px) {
    .pp-cardImg{
        width: 22rem;
        height: 22rem;
    }
    .imageNC {
        height: 25rem;
        width: 25rem;
    }
    .pp-cardTitle{
        font-size: 3.6rem;
    }
    .Container5Button {
        width: 70rem;
    }
    .terciaryContainerBtn {
        padding: 1.7rem 15rem;
    }
    .testimonio-name-user {
        font-size: 5rem;
    }
}
/* !MQ MAX 900PX*/
@media (max-width: 905px) {
    .pp-MainContainerButtons {
        top: 55%;
    }
    
    .pp-MainContainerButtons .button {
        font-size: 2rem;
    }
    .pp-MainContainerText {
        top: 30%;
    }
    .h1MCT {
        font-size: 3.3rem;
    }
    .h2MCT {
        font-size: 5.3rem;
    }
   
    .h2MCT-carrusel {
        font-size: 2.5rem; /* Reducir tamaño del texto */
    }
    .pp-cardImg{
        width: 19rem;
        height: 19rem;
    }
    .pp-cardTitle{
        font-size: 3rem;
    }
    .imageNC {
        height: 21rem;
        width: 21rem;
    }
    .Container5Button {
        width: 60rem;
    }
    .testimonio-name-user {
        font-size: 4.3rem;
    }
    .terciaryContainerBtn {
        padding: 1.7rem 10rem;
    }
    .pp-user {
        width: 17rem;
    }
    .testimonials-container {
        gap: 5rem;
    }
}

/* !MQ MAX 768PX*/
@media (max-width: 768px) {

    .h1MCT,
    .h2MCT {
        font-size: 3rem;
    }

    .pp-MainContainerButtons .button {
        font-size: 1.5rem;
        text-decoration: none;
    }

    .pp-SecundaryContainer {
        padding: 3rem;
    }

    .terciaryContainerBtn {
        padding: 1.2rem 15rem 1.2rem 15rem;
    }

    .pp-benefits-container {
        flex-direction: column;
        gap: 5rem;
    }

    .nuestroCompromisSection {
        flex-direction: column;
        gap: 2rem;
    }

    .Container5 {
        /* background-color: var(--secondary); */
        border-radius: 10%;
        flex-direction: column;
        gap: 5rem;
        padding: 2rem;
    }

   
    .h2MCT-carrusel {
        font-size:  1.7rem !important; /* Reducir texto adicional */
    }
}

/* !MQ MAX 479PX*/
@media (max-width: 479px) {

    /* .pp-background-image {
        height: 300px;
    } */

    .h2MCT {
        font-size: 2.5rem;
    }

    .h1MCT {
        font-size: 2rem;
    }

    .terciaryContainerBtn {
        padding: 1.5rem;
        width: 95%;
    }

    .h1C3 {
        font-size: 3.5rem;
    }

    .h2C3 {
        font-size: 2rem;
    }

    .pp-MainContainerButtons .button {
        display: block;
        font-size: 1.2rem;
        padding: 1rem;
        top: 20%;
    }

    .pp-benefits {
        width: 90%;
    }

    .pp-benefits-container {
        flex-direction: column;
        gap: 2rem;
    }

    .pp-testimonio {
        width: 100%;
    }

    .testimonials-container {
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        text-align: center;
    }

    .Container5 {
        margin-top: 2rem;
        padding: 0%;
        width: 100%;
    }

    .Container5Button {
        width: 90%;
    }

    .nuestroCompromisSection {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

   
    .h2MCT-carrusel important {
        font-size: 1rem !important; /* Texto pequeño para móviles */
    } 
}

/* !TERMINAN MQ */