/* *ESTILOS GENERALES*/

/*ESTILOS GENERALES DE ENCABEZADOS*/
/* h1 {
    font-size: 7rem;
    font-weight: 700;
    color: var(--tertiary);
}

h2 {
    font-weight: 600;
    font-size: 6rem;
    color: var(--fourth);
}

h3 {
    font-size: 5rem;
    color: var(--secondary);
} */

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {}


/*!ESTILOS DEL CONTENEDOR PRINCIPAL*/
.MainContainer {
    position: relative;
    text-align: center;
    color: var(--primary);
    overflow: hidden;
    /*COLOR DE FONDO PRINCIPAL*/
}

.background-image {
    opacity: 0.87;
    /*Ligera opacidad para la imagen de fondo*/
    overflow: hidden;
    /*Cualquier contenido que sobrepase la altura o el ancho del elemento será cortado y no se mostrará*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*La imagen ocupa el ancho máximo de la ventana*/
}

/* .MainContainerText { */
/*position: absolute;
    /*  El elemento ya no ocupará espacio en la página y no afectará el diseño de los demás elementos*/
/*top: 25%;
    /* Posiciona la parte superior del elemento al 50% de la altura de su contenedor padre*/
/*left: 32%;
    /* Posiciona la parte izquierda del elemento al 50% del ancho de su contenedor padre*/
/*transform: translate(-50%, -50%);
    /* Mueve el elemento un 50% hacia la izquierda y un 50% hacia arriba desde su posición actual*/
/*text-align: center;
    /* linea el texto dentro del elemento hacia el centro*/
/*}*/

/*  text-shadow: 2px 2px 4px      3px 3px: Desplaza la sombra 3 píxeles hacia la derecha y 3 píxeles hacia abajo.
5px: Difumina la sombra en un radio de 4 píxeles.*/

.h1MCT {
    font-size: 7rem;
    font-weight: 700;
    color: white;
    text-align: left;
    text-shadow: 3px 3px 5px #2c2e21;
}

.h2MCT {
    font-weight: 600;
    font-size: 9rem;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 5px #2c2e21;
}

/*BOTNONES PRINCIPALES*/
.MainContainerButtons .button {
    display: inline-block;
    /*Hace que los elementos trabajen en línea, es decir, se colocan uno al lado del otro en la misma línea, a menos que el espacio disponible se agote.*/
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary);
    /* Texto claro */
    background-color: var(--secondary);
    /* Fondo secondary */
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: var(--fifth);
}

.MainContainerButtons .button:hover {
    background-color: var(--tertiary);
    /* Fondo oscuro en hover */
}

/*ESTILOS DEL SEGUNDO CONTENEDOR: MENÚ DEL DÍA*/
.SecundaryContainertitle {
    font-size: 4rem;
    text-align: center;
    font-style: italic;
    color: var(--fifth);
}

/*ESTILOS DEL CONTENEDOR DE MENÚS*/
.menusContainer {
    display: flex;
}

/*ESTILOS DEL CARRUSEL*/
#carouselExampleCaptions {
    /*CONTENEDOR GENERAL*/
    width: 70%;
    /* Ajusta el ancho*/
    height: 40px;
    /* Ajusta la altura*/
    margin: 0 auto;
    /* Centra el carrusel horizontalmente */
    padding: 50px;
}

.d-block {
    border-radius: 90px;
    /* Redondea las esquinas de la imagen en 90px*/
}

h5 {
    font-size: 6rem;
}

.menuTime {
    font-size: 2rem;
}

.menuText {
    font-size: 1.5rem;
}

/*ESTILOS DE CONTENEDOR 3*/
.container3 {
    display: flexbox;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.terciaryContainerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnC3 {
    background-color: var(--fourth);
    padding: 2rem 15rem 2rem 15rem;
    text-decoration: none;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h1C3 {
    font-size: 5rem;
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: none;
}

.h2C3 {
    font-size: 3rem;
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: none;
}

.benefits {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: none;
}

.card-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 50px;
}

.cardText {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0rem 15rem 0rem 15rem;
}

.cardImg1 {
    width: 30rem;
    height: 30rem;
    border: 3px solid;
    border-radius: 20%;
    border-color: var(--secondary);
}

.cardImg2 {
    width: 30rem;
    height: 30rem;
    border: 3px solid;
    border-radius: 20%;
    border-color: var(--secondary);
}

.card h2 {
    font-size: 3.5rem;
    margin: 10px 0;
}

.terciaryContainerBtn1 {
    display: flex;
    align-items: center;
}

.btn2C3 {
    display: inline;
    background-color: var(--fourth);
    text-decoration: none;
    font-size: 4rem;
    color: white;
    padding: 10px 30px;
    border-radius: 100px;
    align-items: center;
}


/*ESTILO DE TESTIMONIO*/
.testimonio {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
}

.foto1 {
    width: 700px;
    height: 700px;
    padding: 50px 50px;
}

.comentario {
    max-width: 1000px;
    height: 700px;
    left: auto;
    padding: 220px 50px 50px 50px;
}

.comentario1 {
    font-size: 4rem;
    left: auto;
}

/*ESTILOS DE CONTENDEOR 4*/
.nuestroCompromiso1 {
    justify-content: center;
    text-align: center;
}

.btnNC {
    display: inline;
    background-color: var(--fourth);
    padding: 3.5rem 45rem 3.5rem 45rem;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 2rem 0;
}

.h1C4,
.h2C4 {
    font-size: 3rem;
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nuestroCompromisSection {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
    /*!Limita el ancho del contenedor*/
}

.commitment-NC {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    gap: 10px;
}

.imageNC {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.textNC {
    font-size: 4rem;
    padding: 10px;
}

.MainContainer-content {
    position: absolute;
    top: 20%;
    left: 10%;
}